<h1>SignalDock</h1>

<form method="POST" action="/endpoints">
    <input type="url" id="url" name="url" required>
    <button type="submit">Add</button>
    <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}">
</form>

<h2>Endpoints</h2>

{{ range .Endpoints }}
    <p>
        {{ .URL }} 
        <a href="/endpoints/{{ .ID }}">View</a>
        
        <form method="POST" action="/endpoints/{{ .ID }}/delete">
            <button type="submit">Remove</button>
            <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}">
        </form>
    </p>
{{ end }}


{{ if .Error }}
    <p>{{ .Error }}</p>
{{ end }}